<!-- Header -->
	<header id="header">
		<a href="/" class="title"><span class="image left"><%= image_tag "cwflogoWhite.svg" %></span>Chris Willburn Fitness</a>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about" class="active">About</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
	</header>

<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major">About Me</h1>
					<div class="4u">
<!-- 						<span class="image fit"><%= image_tag "BA/BAchris.jpg" %></span>
 -->					</div>
<!-- 					<ul>
						<li>NASM certified personal trainer</li>
						<li>NASM certified weight loss specialist</li>
						<li>Healthy lifestyle coach</li>
					</ul> -->

					<p class="8u 12u$(medium)"><span class="image left"><%= image_tag "BA/BAchris.jpg" %></span>
					Growing up playing sports from the time I was old enough to hold a ball, all the way through playing college football, I grew to understand and appreciate the importance of exercise and nutrition. But after college the death of my dad caused a downward spiral that lead me to be overweight, unhealthy, unhappy and on a litany of prescription drugs for every ailment under the sun.</p>

					<p class="8u 12u$(medium)">But once again nutrition and exercise saved me. I got healthy, lost weight, turned my life around and turned my passion into a career. Now I use the knowledge I've gained, as well as the experience of needing to lose weight and get healthy myself, to help others make their own personal transformations.</p>

					<p class="8u 12u$(medium)">In your time working with me you will learn what you need to know for healthy sustainable weight loss and getting in shape. You will also come to understand sustainability is the most important thing when it comes to nutrition. And you'll learn the importance of getting enough of all three macro nutrients  (carbs, protein and fat.) You can still eat foods you enjoy and lose weight, you just need to have a little moderation.</p>

					<p class="8u 12u$(medium)">I eat ice cream every day and I've never felt better or been healthier in my life. BUT, I also eat enough healthy foods, fruits and veggies and drink enough water as well....BALANCE. The fact I know I will have more ice cream tomorrow makes it much easier for me to eat some and put it back, rather than eating the whole thing.</p>

					<p class="8u 12u$(medium)">That's what I practice myself and that's what I teach my clients. I encourage them to eat foods they enjoy because it makes the diet more sustainable long term. Anyone can lose weight on a super strict, super low calorie diet (they usually gain it back because it's not sustainable.) The real measure of a weight loss program is, can you lose weight in a sustainable way that fits into your life, and keep that weight off long term? That's what I do.</p>
				</div>
			</section>

	</div>

<!-- Footer -->
	<footer id="footer" class="wrapper style1-alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Chris Willburn. All rights reserved.</li><li><a href="mailto:chriswillburnfitness@gmail.com">chriswillburnfitness@gmail.com</a></li>
			</ul>
		</div>
	</footer>