<!-- Header -->
	<header id="header">
		<a href="/" class="title"><span class="image"><%= image_tag "cwflogoWhite.svg" %></span></a>
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/philosophy" class="active current">Philosophy</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/transformations">Transformations</a></li>
				<li><a href="/testimonials">Testimonials</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/#five">Contact</a></li>
			</ul>
		</nav>
	</header>

<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major">Philosophy</h1>

					<p><strong>Training for life.</strong></p>

					<p class="8u 12u$(medium)">I believe that working out and nutrition are part of a well-rounded life. But they  should add to your life, not run your life. So I strive to coach my clients to train and eat smarter, and make the most of their time working out and eating.</p>

					<p class="8u 12u$(medium)">I don't believe in running yourself into the ground working out, or crash dieting. Consistency and sustainability overtime equals results. Get the best results possible, using proven scientific methods, and have fun in the process.</p>

					<p class="8u 12u$(medium)">I believe that people are happiest when striving to reach their full potential. And it is my true passion in life to help others reach that potential.</p>
				</div>
			</section>

	</div>

<!-- Footer -->
	<footer id="footer" class="wrapper style1-alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Chris Willburn. All rights reserved.</li><li><a href="mailto:chriswillburnfitness@gmail.com" class="no-mobile">chriswillburnfitness@gmail.com</a></li>
			</ul>
		</div>
	</footer>