<!-- Header -->
	<header id="header">
		<a href="/" class="title"><span class="image"><%= image_tag "cwflogoWhite.svg" %></span><!-- Chris Willburn Fitness --></a>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/philosophy">Philosophy</a></li>
				<li><a href="/services" class="active">Services</a></li>
				<li><a href="/transformations">Transformations</a></li>
				<li><a href="/testimonials">Testimonials</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/#five" class="nav-contact">Contact</a></li>
			</ul>
		</nav>
	</header>

<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major">Services</h1>
<!-- 					<div class="4u">
 						<span class="image fit"><%= image_tag "BA/BAchris.jpg" %></span>
					</div>
					<ul>
						<li>NASM certified personal trainer</li>
						<li>NASM certified weight loss specialist</li>
						<li>Healthy lifestyle coach</li>
					</ul> -->
					<section>
						<span class="icon major fa-user"></span>
						<h2>1 on 1 Personal Training Sessions</h2>
						<h4>$55.00/Hour session with 8 week contract</h4>

						<p class="8u 12u$(medium)">If you live anywhere near Mountlake Terrace, I take personal training clients Sunday-Thursday. I work with clients on 8 week contracts to ensure commitment and help get the best results. You pick how many times a week you want to train for 8 weeks, we figure out availability, and get started on your goals.</p>

						<p class="8u 12u$(medium)">With 1 on 1 training I offer full dietary plans and coaching to help you reach your goals. All done in a private, 1 on 1 setting without any other gym members to distract you or get in your way.</p>

						<p class="8u 12u$(medium)">***NOTE: During the course of your 8 week contract I understand you may get sick, go on vacation or have to miss a session or 2. I'm very reasonable about that, and we just push the session out a week. You are not expected to pay for sessions you can't attend as long as you let me know ahead of time. Also payment can be made as you go. You are not expected to pay all up front.</p>
					</section>
					<hr>
					<section>
						<span class="icon major fa-desktop"></span>
						<h2>Online Training</h2>
						<h4>$350.00 for 8 weeks (Works out to $43.75/week)</h4>

						<p class="8u 12u$(medium)">Perfect for people who are already familiar with working out, but just need a solid plan to follow to help maximize their results. Gym membership or equipment in your home required.</p>

						<h3>What you get</h3>
						<ul class="8u 12u$(medium)">
							<li>A workout plan designed specifically for you, your goals and your skill level. You tell me how many days a week you want to workout on your own, and I will write you a step by step plan you can take to the gym with you or do at home if you have equipment.</li>

							<li>Customized diet program tailored to your goals/needs/activity level. This isn't a one size fits all diet that I pass out to everyone. It is customized FOR YOU.</li>

							<li>Access to my private Facebook group for my clients where we share motivation, positive support, recipes, tips and jokes (usually about me) and we keep each other accountable.</li>

							<li>My coaching and support every step of the way. I'll be there via text, email and sometimes phone call to help coach you and help teach you throughout your program. Most of my online clients are in touch with me daily if they have questions, concerns or just need a pep talk.</li>

							<li>Accountability. You will log your food into a website that I monitor, to help keep you on track and give us as much information as possible to help you reach your goals. This is perhaps the most crucial aspect of doing online training. This is important because it gives us the info we need to get you the best possible results.</li>

							<li>Unlimited jokes from me. (My most valuable service)</li>
						</ul>
						<p class="8u 12u$(medium)">My philosophy is that your workout and nutrition routine should add to your life and fit into it, rather than consume your whole life. I will teach you how to incorporate the foods you enjoy into your diet and still get the results you want. I encourage all my clients to plan foods they enjoy into their day because it makes your diet more sustainable. My motto is "life first."</p>
					</section>
					<hr>
					<section>
						<span class="icon major fa-cutlery"></span>
						<h2>Online Nutrition Plans for Weight Loss</h2>
						<h4>$300.00 for 8 weeks (Works out to $37.50/week)</h4>
						<p class="8u 12u$(medium)">This option is geared towards people who either already have a workout plan they follow, have injuries that prevent them from working out, or don't have time to workout but still want to lose weight. You can still make great progress towards that goal, and nutrition is KEY.</p>

						<h3>What you get</h3>
						<ul class="8u 12u$(medium)">
							<li>Customized diet program tailored to your goals/needs/activity level. This isn't a one size fits all diet that I pass out to everyone. It is customized FOR YOU.</li>

							<li>Access to my private Facebook group for my clients where we share motivation, positive support, recipes, tips and jokes (usually about me) and we keep each other accountable.</li>

							<li>My coaching and support every step of the way. I'll be there via text, email and sometimes phone call to help coach you and help teach you throughout your program. Most of my online clients are in touch with me daily if they have questions, concerns or just need a pep talk.</li>

							<li>Accountability. You will log your food into a website that I monitor, to help keep you on track and give us as much information as possible to help you reach your goals. This is perhaps the most crucial aspect of doing online training. This is important because it gives us the info we need to get you the best possible results.</li>

							<li>Unlimited jokes from me. (My most valuable service)</li>
						</ul>

						<p class="8u 12u$(medium)">My philosophy is that your workout and nutrition routine should add to your life and fit into it, rather than consume your whole life. I will teach you how to incorporate the foods you enjoy into your diet and still get the results you want. I encourage all my clients to plan foods they enjoy into their day because it makes your diet more sustainable. My motto is "life first."</p>
					</section>
					<hr>
					<section>
						<span class="icon major fa-bar-chart"></span>
						<h2>1 on 1, 90 minute full dietary assessment and overhaul for weight loss</h2>
						<h4>$150.00 (one time fee)</h4>

						<p class="8u 12u$(medium)">You will meet in person with me, where we will look closely at what your goals are and what is the best way to get you there. I will set you up with a full nutritional plan, and you will walk away armed with everything you need to navigate it yourself and become the master of your own diet.</p>

						<h3>What you will learn</h3>
						<ul class="8u 12u$(medium)">
							<li>How to accurately keep track of your food (it's not as simple as you think.) This is essential for weight loss because if you don't keep track of what you're eating, you have no idea HOW MUCH you are eating.</li>

							<li>How to incorporate foods you enjoy into your diet and still achieve results. This is also a major key because if you eat foods you enjoy daily, you're much more likely to stick to the plan. And sticking to the plan is what gets you results.</li>

							<li>How much exercise/physical activity should you be doing to assist in your goals.</li>

							<li>When and how you should adjust your diet if it doesn't seem to be working or you hit a plateau.</li>

							<li>Simple and easy food ideas that will help you stay on track without any food preparation or a lot for cooking. (I hate meal prepping and don't do it.)</li>
							<li>How to incorporate eating out into your diet without jeopardizing your progress.</li>
							<li>Tips and hacks I've learned myself along the way that will come in handy navigating your own weight loss plan.</li>
							<li>Answers to any other questions or problems you may have. If you have any specific questions or issues, I will do my best to help give you the answers you want, so you can leave our meeting armed with the knowledge you need to help get you the results you're after.</li>
						</ul>
					</section>
					<hr>
					<section>
						<span class="icon major fa-home"></span>
						<h2>Drop in 1 on 1 personal training sessions</h2>
						<h4>$55.00/Hour Session</h4>
						<p class="8u 12u$(medium)">If you want to work on something specific, need a form check, or just want your butt kicked for an hour this option is available to you. Available only to online clients who live in the area.</p>
					</section>
				</div>
			</section>

	</div>

<!-- Footer -->
	<footer id="footer" class="wrapper style1-alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Chris Willburn. All rights reserved.</li><li><a href="mailto:chriswillburnfitness@gmail.com">chriswillburnfitness@gmail.com</a></li>
			</ul>
		</div>
	</footer>