<!-- Header -->
	<header id="header">
		<a href="/" class="title"><span class="image"><%= image_tag "cwflogoWhite.svg" %></span></a>
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/philosophy">Philosophy</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/transformations">Transformations</a></li>
				<li><a href="/testimonials" class="active current">Testimonials</a></li>
				<li><a href="/subscribe">Subscribe</a></li>
				<li><a href="/#five">Contact</a></li>
			</ul>
		</nav>
	</header>

<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major">Testimonials</h1>
					<div class="row uniform">
						<div class="6u 12u$(medium)">
							<blockquote><p>Chris has been an amazing asset to me during my weight loss journey. I started working with him when I became frustrated with my progress and couldn’t get out of the slump I was in. He has taught me a completely different way to view my nutrition. There are no “bad” foods or anything that is off limits. Its all about moderation and balance. After struggling with my weight for years, I finally feel like I have a solid foundation with my diet that will help me succeed long term. Chris has been there for me every step of the way; offering encouragement, suggesting tips and tricks with both workouts and nutrition, and giving just enough of a push when I start to fumble in anyway. I recommend Chris to absolutely any one I speak to who is needing any help with diet or exercise. Chris, thank you from the bottom of my heart for all you have helped me with, and I look forward to continuing our journey together!</p>
							<h3>Jessy Tennancour | Owner Sterling Bookkeeping</h3></blockquote>
						</div>

						<div class="6u 12u$(medium)">
							<blockquote><p>I joined Chris because of Facebook. I saw his posts of before and afters (I recognized some of the people) and read his motivation/joke/personal stories he posted. I finally broke down when I saw he was doing a special. It was my birthday and gave his 12 week program to myself as a present.</p>
							<p>I emailed Chris a crazy, long, detailed, info/history.  He gave me the numbers he wanted me to hit, workout to do and from there we were off. Thus far it has only been around 5 weeks and i am down 17lbs.</p>
							<p>Even though I only do the "online training," we email and text multiple times throughout the week. He knows my daily food log numbers and he reminds/encourages/lovingly harasses me. He has also established a great online community that supports, encourages and posts favorite items etc.</p><h3>Kaija D.</h3></blockquote>
						</div>

						<div class="6u 12u$(medium)">
							<blockquote><p>Chris is an excellent coach and trainer.  I had been working out on my own with no plan or structure and in turn, wasn’t get the results I wanted.  Chris has guided me with both workout and diet plans that have yielded amazing results.  He is extremely organized, encouraging and knowledgeable.  I would definitely recommend Chris to prospective clients of all fitness levels.   He is a true professional.<p><h3>Kevin H.</h3></blockquote>
						</div>

						<div class="6u 12u$(medium)">
							<blockquote><p>Chris understands that achieving fitness goals is more than one to two hours of training per week. It is an entire lifestyle including diet. Chris' approach has worked great for me. He listened to my goals, assessed all my training, including other sports and activities, and came up with a comprehensive plan. Crucially, he looked at diet and came up with an eating plan that allows me to meet my goals and enjoy my life! In the few months I have been working with him, I have lost weight, gained strength, improved performance, and still enjoy going out with friends.<p><h3>Monica C.</h3></blockquote>
						</div>

						<div class="6u 12u$(medium)">
							<blockquote><p>This is my testimonial to Chris Willburn. Chris has been my personal trainer since January of this year and it has been an amazing fitness journey so far! I have worked with personal trainers before but none of them were as committed, reliable, sensitive and passionate as Chris is. He pushes me and motivates me but is also very attentive to my needs and my injuries. He is also very funny and easy to talk to. I find myself laughing a lot and having good conversations during my sessions with him. I can honestly say that Chris is an amazing person and personal trainer. I am very grateful to have him on my side on my fitness journey. Thanks for everything!<p><h3>Rachel M.</h3></blockquote>
						</div>

						<div class="6u 12u$(medium)">
							<blockquote><p>Working with Chris has been amazing. In two years, I have lost 90 lbs. I feel great, really enjoy my life knowing that I am managing a serious threat to my health.</p>
							<p>I don't feel pushed or panicky, as I have when I've lost weight before. I just feel more like myself. Each step in this process has come with support and knowledge. Chris listens and provides a workable plan.</p>
							<p>I am so grateful Chris is doing this work. I have achieved a lot while working with him and am looking forward to learning more!</p>
							<h3>Lillian</h3></blockquote>
						</div>

						<div class="6u 12u$(medium)">
							<blockquote><p>My wife and I came to Chris coming off the ideal protein diet, which had worked great for us to lose weight, but which we were realizing wasn't very sustainable at all. Once we started having some carbs back into our diet, we were putting weight back on at an alarming rate.<p>
							<p>So, we decided to give Chris's plan a try. My first phone interview with Chris, I mentioned that we really wanted sustainability with our plan, something that we would be able to keep on and that could work with us and our lifestyle. And Chris came through for us with flying colors!</p>
							<p>Now, 11 weeks and 30 pounds later, my wife and I have made Chris's plan our new way of life. Not only are we able to actually have carbs, but we are still able to work a beer or two (or more) into our plans without the major guilt other plans would give us, as well as still giving us the results.</p>
							<p>In the past couple of weeks, I'm working on getting more workouts into my routine, and I'm feeling great about the results. Chris has been great this whole time working with him, answering any question or concern we've had via text or email. We couldn't be happier!</p>
							<p>I would highly recommend Chris's plan to anyone who's tired of the dieting scene. Chris changes your view on food, and changes your way of life for the better! All you have to do is do the work.</p>
							<h3>Dave T.</h3></blockquote>
						</div>
					</div>
				</div>
			</section>
	</div>

<!-- Footer -->
	<footer id="footer" class="wrapper style1-alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Chris Willburn. All rights reserved.</li><li><a href="mailto:chriswillburnfitness@gmail.com" class="no-mobile">chriswillburnfitness@gmail.com</a></li>
			</ul>
		</div>
	</footer>