<!DOCTYPE html>
<html>
<head>
  <title>Chris Willburn Fitness</title>
  <meta name="description" content="Chris Willburn Fitness. Personal Trainer, Weight Loss Specialist, and Healthy Lifestyle Coach located in Mountlake Terrace, WA. Online and personal training.">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
